version: "3.8"

services:
  api:
    build: .
    ports:
      - "3333:3333"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
